#parent {
    border: 4px solid blue;

    height: 1200px;
    width: 100%;

   
    /* justify-content: center; */
    display: grid;

    grid-template-columns: 20% auto 20%;
    grid-template-areas: 
    "one one one"
    "two two ."
    "three three three"
    /* "" */
}

.one {
    border: 3px solid purple;
    background-color:  purple;
    height: 300px;
    /* width: 300px; */
    grid-area: one;
}

.two {
    border: 3px solid red;
    background-color: red;
    height: 300px;
    /* width: 300px; */
    grid-area: two;
}
.three {
    border: 3px solid green;
    background-color: green;
    height: 300px;
    /* width: 300px; */
    grid-area: three;

    display: flex;
    justify-content: center;
}

.child {
    border: 2px solid red;
}